/* Container spacing */
.container {
  max-width: 900px;
}

/* Card styling */
.card {
  border: none;
  border-radius: 10px;
  background: #ffffff;
}

/* Title */
h2 {
  font-weight: 600;
  color: #333;
}

/* Inputs & Select */
.form-control {
  height: 45px;
  border-radius: 6px;
  border: 1px solid #ddd;
  transition: 0.3s ease;
  font-size: 14px;
}

/* Focus effect */
.form-control:focus {
  border-color: #dc3545;
  /* red */
  box-shadow: none;
}

/* Textarea */
textarea.form-control {
  height: auto;
  resize: none;
}

/* Button */
.btn-danger {
  height: 45px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s ease;
}

/* Button hover */
.btn-danger:hover {
  opacity: 0.85;
}

/* Small screens */
@media (max-width: 768px) {
  .form-control {
    font-size: 13px;
  }
}
/* product search */
.product-search-box {
  position: relative;
}

.product-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background: #fff;
  border: 1px solid #ddd;

  max-height: 220px;
  overflow-y: auto;

  z-index: 1000;
}

.product-item {
  padding: 12px;
  cursor: pointer;
}

.product-item:hover {
  background: #f2f2f2;
}